
main {
  background-color: #292929;
  color: white;
  position: relative;
  height: 100vh;
  #itis {
    @include centered;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 60vmin;

    -webkit-animation: neon 1.5s ease-in-out infinite alternate;
    -moz-animation: neon 1.5s ease-in-out infinite alternate;
    animation: neon 1.5s ease-in-out infinite alternate;
    
  }
  #clock {
    position: fixed;
    bottom: 30px;
    width: 100%;
    text-align: center;
    font-weight: bold;
  }
}


@keyframes neon {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #11ff11, 0 0 70px #11ff11, 0 0 80px #11ff11, 0 0 100px #11ff11, 0 0 150px #11ff11;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #11ff11, 0 0 35px #11ff11, 0 0 40px #11ff11, 0 0 50px #11ff11, 0 0 75px #11ff11;
  }
}